.pwovebList{
  width: 100%;
  height: auto;
}

.pwovebList ul{
  list-style: none;
  width:50%;
  margin:1rem auto;
  text-align: center;
  /*border-top:1px solid black;*/
  padding-inline-start: 0px;
  border-radius:10px;
}


.pwovebList ul li{
  font-size:2rem;
  padding:1rem 2rem;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.pwovebList ul li:hover{
  transform: scale(1.2);
  margin-bottom:2rem;
    outline: none;
  border: none;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.2s ease 0s;
}
